[submodule "drupal"]
	path = drupal
	url = git://github.com/middlebury/drupal.git
[submodule "sites/all/modules/monster_menus"]
	path = sites/all/modules/monster_menus
	url = http://git.drupal.org/sandbox/gribnif/1118296.git
