[submodule "drupal"]
	path = drupal
	url = git://github.com/middlebury/drupal.git
[submodule "sites/all/modules/monster_menus"]
	path = sites/all/modules/monster_menus
	url = http://git.drupal.org/sandbox/gribnif/1118296.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = http://git.drupal.org/project/devel.git
[submodule "sites/all/modules/devel_themer"]
        path = sites/all/modules/devel_themer
        url = http://git.drupal.org/project/devel_themer.git
[submodule "sites/all/modules/coder"]
	path = sites/all/modules/coder
	url = http://git.drupal.org/project/coder.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = http://git.drupal.org/project/date.git
[submodule "sites/all/modules/ctools"]
        path = sites/all/modules/ctools
        url = http://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
