[submodule "drupal"]
	path = drupal
	url = git://github.com/middlebury/drupal.git
[submodule "sites/all/modules/monster_menus"]
	path = sites/all/modules/monster_menus
	url = http://git.drupal.org/project/monster_menus.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = http://git.drupal.org/project/devel.git
[submodule "sites/all/modules/devel_themer"]
        path = sites/all/modules/devel_themer
        url = http://git.drupal.org/project/devel_themer.git
[submodule "sites/all/modules/coder"]
	path = sites/all/modules/coder
	url = https://github.com/middlebury/drupal-coder.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = http://git.drupal.org/project/date.git
[submodule "sites/all/modules/ctools"]
        path = sites/all/modules/ctools
        url = http://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
[submodule "sites/all/modules/better_exposed_filters"]
	path = sites/all/modules/better_exposed_filters
	url = http://git.drupal.org/project/better_exposed_filters.git
[submodule "sites/all/modules/insert_view"]
	path = sites/all/modules/insert_view
	url = http://git.drupal.org/project/insert_view.git
[submodule "sites/all/modules/views_random_seed"]
	path = sites/all/modules/views_random_seed
	url = http://git.drupal.org/project/views_random_seed.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = http://git.drupal.org/project/libraries.git
[submodule "sites/all/modules/colorbox"]
	path = sites/all/modules/colorbox
	url = http://git.drupal.org/project/colorbox.git
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = http://git.drupal.org/project/features.git
[submodule "sites/all/modules/video_filter"]
	path = sites/all/modules/video_filter
	url = http://git.drupal.org/project/video_filter.git
[submodule "sites/all/modules/simplehtmldom"]
	path = sites/all/modules/simplehtmldom
	url = http://git.drupal.org/project/simplehtmldom.git
[submodule "sites/all/modules/cas"]
	path = sites/all/modules/cas
	url = http://git.drupal.org/project/cas.git
[submodule "sites/all/libraries/CAS"]
	path = sites/all/libraries/CAS
	url = git://github.com/Jasig/phpCAS.git
[submodule "sites/all/modules/cas_attributes"]
	path = sites/all/modules/cas_attributes
	url = http://git.drupal.org/project/cas_attributes.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = http://git.drupal.org/project/token.git
[submodule "sites/all/modules/cck"]
	path = sites/all/modules/cck
	url = http://git.drupal.org/project/cck.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = http://git.drupal.org/project/entity.git
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = git://github.com/middlebury/drupal-git_deploy.git
[submodule "sites/all/libraries/colorbox"]
	path = sites/all/libraries/colorbox
	url = https://github.com/jackmoore/colorbox.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
[submodule "sites/all/modules/gravatar"]
	path = sites/all/modules/gravatar
	url = http://git.drupal.org/project/gravatar.git
[submodule "sites/all/modules/flickrapi"]
	path = sites/all/modules/flickrapi
	url = http://git.drupal.org/project/flickrapi.git
[submodule "sites/all/modules/oauth"]
	path = sites/all/modules/oauth
	url = http://git.drupal.org/project/oauth.git
[submodule "sites/all/modules/config_perms"]
	path = sites/all/modules/config_perms
	url = http://git.drupal.org/project/config_perms.git
[submodule "sites/all/modules/webform"]
	path = sites/all/modules/webform
	url = http://git.drupal.org/project/webform.git
[submodule "sites/all/modules/options_element"]
	path = sites/all/modules/options_element
	url = http://git.drupal.org/project/options_element
[submodule "sites/all/modules/select_or_other"]
	path = sites/all/modules/select_or_other
	url = http://git.drupal.org/project/select_or_other.git
[submodule "sites/all/modules/webform_validation"]
	path = sites/all/modules/webform_validation
	url = http://git.drupal.org/project/webform_validation.git
[submodule "sites/all/modules/transliteration"]
	path = sites/all/modules/transliteration
	url = http://git.drupal.org/project/transliteration.git
[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = git://github.com/middlebury/drupal-link.git
[submodule "sites/all/modules/bundle_copy"]
	path = sites/all/modules/bundle_copy
	url = http://git.drupal.org/project/bundle_copy.git
[submodule "sites/all/modules/file_entity"]
	path = sites/all/modules/file_entity
	url = http://git.drupal.org/project/file_entity.git
[submodule "sites/all/modules/media"]
	path = sites/all/modules/media
	url = http://git.drupal.org/project/media.git
[submodule "sites/all/modules/wysiwyg"]
	path = sites/all/modules/wysiwyg
	url = http://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/metatag"]
	path = sites/all/modules/metatag
	url = http://git.drupal.org/project/metatag.git
[submodule "sites/all/modules/gcal_events"]
	path = sites/all/modules/gcal_events
	url = http://git.drupal.org/project/gcal_events.git
[submodule "sites/all/modules/insert_block"]
	path = sites/all/modules/insert_block
	url = http://git.drupal.org/project/insert_block.git
[submodule "sites/all/modules/masquerade"]
	path = sites/all/modules/masquerade
	url = http://git.drupal.org/project/masquerade.git
